@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Viagens</h1>
    O projeto de cadastro de viagens foi construido nas tecnologias abaixo.

    Dificuldades
        1. conexão com o Oracle
        2. Retorno do .NET Core para o ajax 
        3. Algumas consultas em Linq

    Tempo de contrução 30 horas.

    <ul>
        <li>
            .NET Core
        </li>
        <li>
            .NET 5.0
        </li>
        <li>
            SQL Server
        </li>
        <li>
            Oracle
            Nome do Bando de Dados Global: XE
            Nome do banco: CadastroViagens
            Usuráio: PDBADMIN
            Senha do Banco: Cadastro123456
        </li>
    </ul>
</div>
